body {
    background-color: black;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}

#HelloWorld {
    color: white;
    font-size: 125px;
    font-family: "Spacemono", monospace;
    padding-top: 0.5em;
    
    padding-left: 0.5em;
}

#shortGreeting, .whoIam, .WhatIDO, .text, .projectTitle {
    color: lightgrey;
    padding-left: 3em;
    font-family: "Spacemono", monospace;
    font-size: 25px;
}

.text {
    padding-left: 0;
}

#name {
    color: orange;
    opacity: 0;
    transition: ease-in 2s 0s;
}

.realm-of-personality {
  margin-top: 10em;
  margin-bottom: 10em;
}

.spacerThreeInch {
    margin-top: 3in;
}

.gameContainer {
    width: 50em;
}

.gameContainer, .gameContainer > * {
    padding-bottom: 5em;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#poe {
    width: 30%;
}



.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 3em;
}

.contact > h1 {
  text-align: center;
}

.contact-info {
  width: auto;
  align-self: center;
}

.button-housing-prj-carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  height: 300px;
}

.carousel-wrapper {
  height: 300px;
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-content: center;
}

.carousel {
  background-color: darkslategrey;
  grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
}

.item img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 15px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}

.name {
  margin-bottom: 2px;
  color: #2e1d50;
}

.item {
  text-align: center;
  padding: 20px;
  border: 3px solid black;
  border-radius: 20px;
  background-color: #855e0c;
  position: absolute;
  width: 300px;
  height: 250px;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r)))
  translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
}

#L-prj{
  position:absolute;
  z-index: 1;
}

#R-prj {
  position:absolute;
  z-index: 1;
  right: 0;
}

#projects {
  --position: 3;
  pointer-events: none;
}

.header {
  margin-left: 3em;
}

#projects > .item:hover {
  background-color: #af8324;
}

#projects > .item {
  pointer-events: auto;
}

#worldDarkener {
  width: 100%;
  height: 100vh;
  transition: all 0.25s ease-in-out;
  opacity: 0%;
  background-color: black;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

#realm-of-personality {
  display: flex;
  justify-content: center;
}

#realm-of-personality > a > img {
  width: 10em;
  opacity: 0%;
  pointer-events: none;
  transition: all 1s ease-in;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}